name: CUDA Build CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Show Repository Files (Debug)
      run: ls -R

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y cmake g++

    - name: Configure Build
      run: |
        mkdir -p build
        cd build
        cmake ..

    - name: Compile
      run: |
        cd build
        make
